.my_info{
float:left;
}

.left-side{
float:left;
padding-left:20px;
}

.right-side{
float:left;
padding-left:50px;
}

.multiline{
width:400px;
height:150px;
overflow:auto;
}

.clr{
clear:both;
}

#reqlog{
width:70%;
float:left;
padding-left:10px;
clear:both;
}

.controls{
padding-left:10px;
clear:both;
}

#my_photo_prev{
max-width:480px;
border: solid black 1px;
}
