<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/base.css">
	<script src="http://code.jquery.com/jquery-latest.js"></script>
	<script src="http://code.jquery.com/jquery-migrate-1.0.0.js"></script>
    {% block head %}
    {% endblock %}
  </head>
  <body>
  {% block heading %}{% endblock %}
  <h1 class="page-header">42 Coffee Cups Test Assignment</h1>
  <div class="controls">
    <a href="{% url testapp:mainpage_url %}">Home</a>
</div>
  {% block body %}{% endblock %}
    <div class="clr"></div>
    <div id="reqlog">	
    <hr/>
        <a href="{% url testapp:requests_url %}">requests</a>
    </div>
  </body>
</html>
