{% extends "base.html" %}
{% block head %}<title>Main page</title>{% endblock %}
{% block heading %}
{% load admin_edit_tag %}
<div class="login">
  <p>{% if user.is_authenticated  %}
      <a href="{% url logout %}">Logout</a> <a href="{% url editinfo %}">Edit</a>
      <a href="{% admin_url user %}">Edit (admin)</a>
	{% else %}
	  <a href="{% url login %}">Login</a>{% endif %}
</div>
{% endblock %}
{% block body %}
<div class="my-data">
  <div class="left-side">
    <p>Name: {{ my_info.name }}</p>
	<p>Last name: {{ my_info.last_name }}</p>
	<p>Date of Birth: {{ my_info.birth_date|date:'F m, Y' }}</p>
        <p>Photo:<br>
          <img id="my_photo_prev" src="{% if my_info.photo %}{{ MEDIA_URL }}{{ my_info.photo }}{% else %}http://placehold.it/380x500{% endif %}">
        </p>
  </div>
  <div class="right-side">
    <p>Contacts</p>
	<p>Email: {{ my_info.email }}</p>
	<p>Jabber: {{ my_info.jabber }}</p>
	<p>Skype: {{ my_info.skype }}</p>
	<p>Other contacts:<br>
	  <div class="multiline">
	    {{ my_info.other_contacts }}
	  </div>
	</p>
	<p>
	  Bio:<br>
	  <div class="multiline">
	    {{ my_info.bio }}
	  </div>
	</p>
  </div>
</div>
{% endblock %}
